:root {
    --Very-dark-blue : hsl(233, 47%, 7%);
    --Dark-desaturated-blue : hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-6 : hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: var(--Very-dark-blue);
    font-family: 'Inter', sans-serif;
    color: var(--White);
    font-weight: 400;
    font-size: 15px;
}

.container {
    width: 375px;
    background-color: var(--Dark-desaturated-blue);
    margin: auto;
    display: grid;
    grid-template-areas: 
    "img"
    "dis";
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-img {
    grid-area: img;
    position: relative;
}

picture {
    display: block;
    height: 100%;
    overflow: hidden;
}

.tint {
    background-color: var(--Soft-violet);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
    z-index: 199;
}

.header-img {
    width: 100%;
    height: 100%;
}

.main-discription {
    padding: 2rem 2rem 0 3rem;
    grid-area: dis;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

span {
    color: var(--Soft-violet);
}

.contant {
    color: var(--Slightly-transparent-white);
    line-height: 2;
}

.numbers {
    margin-top: 1.5rem;
}

.numbers-col {
    margin-bottom: 2rem;
}

.numbers-header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.numbers-dis {
    color: var(--Slightly-transparent-white-6);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
}

.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
    .container {
        width: 1000px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "dis img";
    }

    .main-discription {
        display: flex;
        align-items: center;
        text-align: left;
        padding-right: 4rem;
    }

    .numbers {
        display: flex;
        justify-content: flex-start;
        margin-top: 3rem;
    }

    .numbers-col {
        margin-right: 2.5rem;
    }
}